html {
  background-color: #1aacca;
  height: 100vh;
}
body {
  height: 100vh;
  margin: 0;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  padding: 5px;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
