body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#board {
  background-image: url(./assets/Flappy\ Bird/background-day.png);
}
