.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pirata One";
  src: url("./fonts/Pirata_One/PirataOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: black;
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  color: white;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  font-size: x-large;
  width: 100%;
  padding: 15px 20px;
  gap: 3%;
  position: fixed;
  top: 0;
}
nav a {
  color: red;
}
.banner-ozzy {
  margin-top: 50px;
  background-image: url("./src/ozzy\ horizontal.webp");
  background-size: cover;
  background-position: center;
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-ozzy h1 {
  color: #6e3e96;
  font-size: 8vw;
  text-shadow: 5px 5px 10px black;
}
.albums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  font-size: x-large;
}
.albums-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.albums-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.album {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.songs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  font-size: x-large;
}
li {
  color: white;
}
.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}
.member {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}
.info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e3e96;
  border-radius: 10px;
  width: 10%;
  height: 8%;
}
.member-info {
  font-size: x-large;
  justify-content: center;
  color: white;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px;
  gap: 30px;
  justify-content: space-around;
}
.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer p {
  padding: 0 10px;
  color: red;
  font-size: medium;
}
.clock {
  font-size: 20px;
  color: red;
  padding: 10px 10px;
}
form {
  margin: 100px 20px;
  background: #6e3e96;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
}
form label {
  color: black;
  font-weight: bold;
}

form input,
form select,
form textarea {
  background-color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
}
